<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">Home</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f4f4f9;
            color: #333;
        }
        h1 {
            color: #4CAF50;
        }
        a {
            text-decoration: none;
            color: #4CAF50;
            font-weight: bold;
        }
        a:hover {
            color: #45a049;
        }
    </style>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <p th:text="${description}"></p>
    <p>Build Number: <span th:text="${buildNumber}"></span></p>
    <p>Branch Name: <span th:text="${branchName}"></span></p>
    <p><a href="/tutorial">Go to Tutorial Page</a></p>
</body>
</html>
